@import '../../index.scss';

.btn {
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-weight: 600;
    cursor: pointer;
    box-shadow: 0px 7px 29px 0px #00000080;
    color: $light;
}

.primary-btn {
    background-color: $primary;
    font-family: "Dobro-Drunk", sans-serif;
    font-size: 2.5rem;
}

.copy-btn {
    background-color: $secondary;
    font-family: "Dobro", sans-serif;
    font-size: 1.5rem;
}