@import './index.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 60px;
    height: 100vh;
    width: 100vw;
    background-color: $background;
    font-family: 'Dobro', sans-serif;

    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }

    .body {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
    }
}

.title {
    font-size: 4rem;
    color: $light;
    margin-bottom: 20px;
    font-family: "Dobro-Drunk", sans-serif;
    padding-bottom: 50px;
}