@import './index.scss';

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: $background;
    font-family: 'Dobro', sans-serif;
}

.title {
    font-size: 4rem;
    color: $light;
    margin-bottom: 20px;
    font-family: "Dobro-Drunk", sans-serif;
}